.services {
  background: linear-gradient(180deg, #363948 0%, #2A2D3A 100%);
  /* background-color: #2a2d3a; */
}
.skills {
  background: linear-gradient(
    180deg,
    #666976 0%,
    #2a2d3a 26.67%,
    #2a2d3a 49%,
    #2a2d3a 71.73%,
    #666976 97.65%
  );
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* padding: 6rem; */
  min-height: 100vh;
}
.description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}
