.landingImage {
  height: 500px;
  width: 100%;
  z-index: 0;
}
.landingText {
  position: relative;
  z-index: 1;
}
.headerTop {
  position: absolute;
}
.headerEffect {
  background: #9747ff;
  filter: blur(100px);
}

.contacts {
  background: #363948;
  padding: 24px 24px 20px 40px;
}
.services {
  background: linear-gradient(180deg, #363948 0%, #2a2d3a 100%);
  padding: 0px 4rem;
  /* background-color: #2a2d3a; */
}
.headingOne {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  /* font-size: 96px; */
  font-size: 56px;
  line-height: 113px;
  color: #ffffff;
  text-decoration-line: underline;
}
.servicesCard {
  background-color: #363948 !important;
  border-radius: 4px;
  /* display: flex;
  flex-direction: column;
  align-items: flex-start; */
  padding: 43px 0px 24px;
  min-width: 300px;
  min-height: 300px;
  /* width: 384.88px;
  height: 513.13px; */
  gap: 80px;
}
.skills {
  background: linear-gradient(
    180deg,
    #666976 0%,
    #2a2d3a 26.67%,
    #2a2d3a 49%,
    #2a2d3a 71.73%,
    #666976 97.65%
  );
}
.projects {
  background: #2a2d3a;
  padding: 12px;
}
.skillsCard {
  background-color: #363948 !important;

  box-shadow: 0px 8px 12px 6px rgba(0, 0, 0, 0.15),
    0px 4px 4px rgba(0, 0, 0, 0.3);
  border-radius: 16px;
  /* transform: matrix(0.71, -0.7, 0.7, 0.71, 0, 0); */
  min-height: 163.19243153225585px;
  min-width: 163.1968450472573px;
}
.projectsCard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;

  /* max-width: 544px;
  max-height: 497px; */

  background-color: #363948 !important;
  border-radius: 4px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.transform {
  transform: matrix(0.71, -0.7, 0.7, 0.71, 0, 0);
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* padding: 6rem; */
  min-height: 100vh;
}
.description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}
.headerButton {
  color: #ffffff;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
}
.headerTitle {
  color: #ffffff;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 64px;
}
.headerJobTitle {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
  /* identical to box height, or 129% */

  text-align: center;

  /* Secondary */

  color: #ffffff;
}
.headerDescription {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  /* or 133% */

  /* Secondary Color */

  color: #ffffff;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
.portfolioMainHeading {
  margin-top: 4rem;
  padding-bottom: 4rem;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  line-height: 64px;
  /* or 67% */

  text-decoration-line: underline;

  /* on primary */

  color: #ffffff;
}

.contactPropertyName {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  /* or 122% */

  color: #ffffff;
}
.contactValueName {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  /* or 125% */

  color: #ffffff;
}
.contactMessage {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  /* or 122% */

  color: #ffffff;
}
.contactInput {
  box-sizing: border-box;
  background: #363948;
  /* Secondary Color */

  border: 1px solid #ffffff;
  border-radius: 4px;
}

/* media queries for mobile screen */

@media (max-width: 580px) {
  .headerButton {
    /* width: 50%!important; */
    font-weight: 400 !important;
    font-size: 12px !important;
    line-height: 32px !important;
  }
  .headerTitle {
    font-size: 36px !important;
    line-height: 32px !important;
    display: flex !important;
    justify-content: flex-start !important;
  }

  .headerJobTitle {
    font-size: 20px !important;
    line-height: 26px !important;
    display: flex !important;
    justify-content: flex-start !important;
  }
  .headerDescription {
    font-size: 14px !important;
    line-height: 26px !important;
  }
  .setMarginTop {
    margin-top: 24px !important;
  }

  .portfolioMainHeading {
    font-size: 64px !important;
    line-height: 32px !important;
  }
  .setContact {
    font-size: 42px !important;
    line-height: 32px !important;
  }
  .contactPropertyName {
    font-size: 18px !important;
    line-height: 22px !important;
  }
  .contactValueName {
    font-size: 18px !important;
    line-height: 22px !important;
  }
}
