.services {
  background: linear-gradient(180deg, #363948 0%, #2a2d3a 100%);
  padding: 0px 4rem
  /* background-color: #2a2d3a; */
}
.headingOne {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  line-height: 113px;
  color: #ffffff;
  text-decoration-line: underline;
}
.servicesCard {
  background: #363948;
  border-radius: 4px;
  /* display: flex;
  flex-direction: column;
  align-items: flex-start; */
  padding: 43px 0px 24px;
  /* min-width: 300px;
  min-height: 300px; */
  /* width: 384.88px;
  height: 513.13px; */
  gap: 80px;
}
.skills {
  background: linear-gradient(
    180deg,
    #666976 0%,
    #2a2d3a 26.67%,
    #2a2d3a 49%,
    #2a2d3a 71.73%,
    #666976 97.65%
  );
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* padding: 6rem; */
  min-height: 100vh;
}
.description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}
